.PImg>img{
    height: 20%;
    width:40%;
    margin-left: 30%;
    margin-top: 6%;

}
.PBtn>button{
    height: 40px;
    width: 10%;
    background-color: rgb(253, 95, 95);
    border: 1px solid rgb(253, 95, 95);
    border-radius: 10px;
    margin-top: 20px;
   color: white;
}
.PBtn>button:hover{
    background-color: rgb(253, 45, 45);
    border: 1px solid rgb(253, 45, 45);
}

.PBtn{
   text-align: center;
   margin-top: 20px;
}