#dataContainer {
  width: 70%;

  /* border: 1px solid rgb(72, 14, 230); */
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  /* grid-template-rows: repeat(3, 350px); */
  grid-template-columns: repeat(3, 350px);

  margin: auto;
  padding-top: 20px;

  justify-content: space-evenly;
}

#datacard {
  padding: 10px;
}

#datacard:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

#imgDiv {
  width: 330px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  /* border: 8px solid whitesmoke; */
}

#name-rating {
  /* border: 1px solid red; */
  display: flex;
  padding: 3px;
  justify-content: space-between;
}

#name-rating h4 {
  margin: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#rating {
  /* border: 1px solid green; */
  color: white;
  background-color: green;
  width: 45px;
  height: 25px;
  text-align: center;
}

#cat-cost {
  display: flex;
  justify-content: space-evenly;
}

#cat {
  width: 60%;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
