.whyadz{

    /* background-color: red; */
    height: 650px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.waz-wrap{
    /* background-color: blue; */
    width: 950px;
}

.waz-wrap>h1{
    /* background-color: yellow; */
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
}

.waz-c{
    /* background-color: gray; */
    height:600px;
    display: flex;
}

.waz-l{
    flex: 1;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.waz-r{
    flex: 1;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.waz-lc{

    /* background-color: aqua; */
    margin: 10px;

}

.waz-lc>h4{

    font-size: 20px;
    font-weight: 500;

    padding: 10px 0px;

}

.waz-lc>p{

    /* background-color: beige; */
    width: 70%;
    color: gray;

}