.main1{
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: hwb(228 88% 8%);
  }
  .sub-main1 {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 35%;
    margin-top: 80px;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 20px;
    border-radius: 10px; 
    background-color: white;
  }
  
  

  input{
      width: 350px;
      height: 50px;
      border-radius: 10px;
      /* box-shadow: inset 0px 0px 25px 0px #888; */
      border: 1px solid black;
      /* outline: none; */
      background-color: rgb(255, 255, 255);
  }

  .number{
      padding-left: 20px;
      font-size: 20px;
  }
  

  button{
      width: 380px;
      height: 60px;
      border-radius: 10px;
      background-color: #ec2e2ef1;
      color: white;
      font-size: 25px;
      border: 1px solid;
  }
  
  .login-button{
      padding-top: 25px;
  }

   a{
      color: blue;
   }