.policy{
    text-decoration: none;
    color: red;
    /* margin-left: 20px; */
}
#policyCheck{
width: 15px;
/* margin-left: 20px; */
}
.main1{
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 30px;
    padding-bottom: 90px;
    background-color: hwb(228 88% 8%);
  }
  .sub-main1 {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 35%;
    margin-top: 80px;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 20px;
    border-radius: 10px; 
    background-color: white;
  }
  
  .continueWithEmail{
    height: 35px;
    width: 35px;
    position: absolute;
    padding: 7px 0 0 45px;
  }

  .name{
      padding-left: 20px;
      font-size: 20px;
  }
  
  .second-input{
      padding-top: 20px;
  }

  /* button{
      width: 380px;
      height: 60px;
      border-radius: 10px;
      background-color: #ec2e2ef1;
      color: white;
      font-size: 25px;
      border: 1px solid;
  } */
  #continueWithEmail{
     /* width: 380px; */
     font-size: 20px; 
     width: 380px;
     height: 50px;
     border-radius: 10px;
     color: black;
     border: 1px solid black;
     background-color:rgba(255, 239, 239, 0.938);
 }
  .login-button{
      padding-top: 25px;
  }

  input{
      width: 350px;
      height: 50px;
      border-radius: 10px;
      /* box-shadow: inset 0px 0px 25px 0px #888; */
      border: 1px solid black;
      /* outline: none; */
      background-color: rgb(255, 255, 255);
  }

  .number{
      padding-left: 20px;
      font-size: 20px;
  }
  

  button{
      width: 380px;
      height: 60px;
      border-radius: 10px;
      background-color:rgba(255, 239, 239, 0.938);
      color: rgb(2, 2, 2);
      font-size: 25px;
      border: 1px solid;
  }
  button:hover{
      background-color: rgba(245, 64, 64, 0.904);
      color: white;
  }
  #continueWithEmail:hover{
    /* background-color: rgba(245, 64, 64, 0.904); */
    color: rgb(243, 88, 88);
  }
 
  .login-button{
      padding-top: 25px;
  }

   a{
      color: blue;
   }